.note-trs-enter
  opacity: 0

.note-trs-enter-active
  opacity: 1
  transition: opacity 600ms ease-in

.note-trs-exit
  opacity: 1

.note-trs-exit-active
  opacity: 0
  transition: opacity 600ms ease-in